.calendar {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-gap: 10px;
    max-width: 600px;
    margin: 0 auto;
}

.calendar-day {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: center;
}

.day {
    font-weight: bold;
}

.event {
    margin-top: 10px;
    text-align: left;
}

.event .img {
    width: 100px;
    height: 100px;
}
