@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
/*Globals variables*/
:root {
    --color-golden: #dcca87;
    --color-orange: #e8993d;
    --color-alabaster: #edeade;
    --color-yellow: ##ffff00;
    --color-black: #0c0c0c;
    --color--dark-gray: #545454;
    --color-crimson: #f5efdb;
    --color-grey: #aaaaaa;
    --color-white: #ffffff;
    --color-wine: #722f37;
    --color-dark-red: #8b0000;
    --color-yelp-icon: #d32323;
    --color-facebook-icon: #ffffff;
    --color-red: #e60000;
    --color-light-grey: #d3d3d3;
    /* grey used for paragraphs */
    --clr-grey-5: hsl(210, 22%, 49%);
    --clr-grey-6: hsl(209, 23%, 60%);
    --clr-grey-7: hsl(211, 27%, 70%);
    --clr-grey-8: hsl(210, 31%, 80%);
    --clr-grey-9: hsl(212, 33%, 89%);
    --clr-grey-10: hsl(210, 36%, 96%);
    --color-grey-11: rgb(239, 239, 239);
    /* variales with effects, shadows and opacacity */

    --transition: all 0.3s linear;
    --spacing: 0.1rem;
    --radius: 0.25rem;

    /* shadows variables */
    --light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    --dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
    --shadow-effect-1: 0 10px 6px -6px #777;
    --black-shadow-bg: rgba(0, 0, 0, 0.5);
    --white-shadow-bg: rgba(255, 255, 255, 0.5);
    --grey-shadow-border: 10px 10px 10px grey;

    /* opacacity grey and white variables */

    --text-box-border-grey: 1px solid rgba(255, 255, 255, 0.1);
    --text-box-border-grey-1: solid 2px rgba(255, 255, 255, 0.5);

    /* opacacity black  variables */
    --text-box-bg-color: rgba(0, 0, 0, 0.4);

    /* widths and heights variables */
    --max-width: 1170px;
    --fixed-width: 620px;
    --heights: 70vh;
    --widths: 100%;
    /* border-radious variables */

    --border-radious-t1: 15px 50px 30px 5px;

    /* font-size variables */
    --font-2xs: 0.625rem;
    --font-xs: 0.75rem;
    --font-sm: 0.875rem;
    --font-md: 1rem;
    --font-lg: 1.125rem;
    --font-xl: 1.25rem;
    --font-2xl: 1.5rem;
    --font-3xl: 1.75rem;
    --font-4xl: 2rem;
    --font-5xl: 2.25rem;
    --font-6xl: 2.5rem;
    --font-7xl: 3rem;
    --font-8xl: 3.5rem;
    --font-9xl: 4rem;
    --font-10xl: 4.5rem;
    --font-11xl: 5rem;
    --font-12xl: 6rem;
}

/*Globals elements styles*/
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
    font-family: var(--antonio-font);
    font-size: 18px;
}

html,
body {
    width: 100%;
    padding: 0;
    margin: 0;
    letter-spacing: 1.8;
    background: linear-gradient(360deg, rgb(239, 239, 239) 0%, #ebedee 100%);
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
a {
    color: inherit;
    text-decoration: none;
    cursor: pointer;
}

/* For mobile phones: */
[class*='col-'] {
    width: 100%;
}
/*responsive classes*/

@media only screen and (min-width: 600px) {
    /* For tablets: */
    .col-s-1 {
        width: 8.33%;
    }
    .col-s-2 {
        width: 16.66%;
    }
    .col-s-3 {
        width: 25%;
    }
    .col-s-4 {
        width: 33.33%;
    }
    .col-s-5 {
        width: 41.66%;
    }
    .col-s-6 {
        width: 50%;
    }
    .col-s-7 {
        width: 58.33%;
    }
    .col-s-8 {
        width: 66.66%;
    }
    .col-s-9 {
        width: 75%;
    }
    .col-s-10 {
        width: 83.33%;
    }
    .col-s-11 {
        width: 91.66%;
    }
    .col-s-12 {
        width: 100%;
    }
}
@media only screen and (min-width: 768px) {
    /* For desktop: */
    .col-1 {
        width: 8.33%;
    }
    .col-2 {
        width: 16.66%;
    }
    .col-3 {
        width: 25%;
    }
    .col-4 {
        width: 33.33%;
    }
    .col-5 {
        width: 41.66%;
    }
    .col-6 {
        width: 50%;
    }
    .col-7 {
        width: 58.33%;
    }
    .col-8 {
        width: 66.66%;
    }
    .col-9 {
        width: 75%;
    }
    .col-10 {
        width: 83.33%;
    }
    .col-11 {
        width: 91.66%;
    }
    .col-12 {
        width: 100%;
    }
}

.color-title,
.black-title,
.white-title,
.color-subtitle,
.black-subtitle,
.white-subtitle,
.color-text,
.black-text,
.white-text {
    font-family: inherit;
    text-align: center;
}

.color-title,
.black-title,
.white-title {
    font-size: var(--font-2xl);
    color: var(--color-golden);
    font-weight: 700;
}
.black-title {
    color: var(--color-black);
}

.white-title {
    color: var(--color-white);
}

.color-subtitle,
.black-subtitle,
.white-subtitle {
    font-size: var(--font-lg);
    color: var(--color-golden);
}
.black-subtitle {
    color: var(--color-black);
}

.white-subtitle {
    color: var(--color-white);
}

.color-text,
.black-text,
.white-text {
    font-size: var(--font-md);
    color: var(--color-golden);
}
.black-text {
    color: var(--color-black);
}

.white-text {
    color: var(--color-white);
}

.bold-tex {
    font-weight: 700;
}

/* font-size-classes */

.size-2xs-text {
    font-size: var(--font-2xs);
}
.size-xs-text {
    font-size: var(--font-xs);
}
.size-sm-text {
    font-size: var(--font-sm);
}
.size-md-text {
    font-size: var(--font-md);
}
.size-lg-text {
    font-size: var(--font-lg);
}
.size-xl-text {
    font-size: var(--font-xl);
}
.size-2xl-text {
    font-size: var(--font-2xl);
}
.size-3xl-text {
    font-size: var(--font-3xl);
}
.size-4xl-text {
    font-size: var(--font-4xl);
}
.size-5xl-text {
    font-size: var(--font-5xl);
}
.size-6xl-text {
    font-size: var(--font-6xl);
}
.size-7xl-text {
    font-size: var(--font-7xl);
}
.size-8xl-text {
    font-size: var(--font-8xl);
}
.size-9xl-text {
    font-size: var(--font-9xl);
}
.size-10xl-text {
    font-size: var(--font-10xl);
}
.size-11xl-text {
    font-size: var(--font-11xl);
}

.size-12xl-text {
    font-size: var(--font-12xl);
}
.left-align-text {
    text-align: left;
}
.justify-align-text {
    text-align: justify;
}
.center-align-text {
    text-align: center;
}
.right-align-text {
    text-align: right;
}
.padding-text {
    padding: 10px;
}

.padding-top {
    padding-top: 10px;
}
.pre-wrap-text {
    white-space: pre-wrap;
}

.dropdown {
    position: absolute;
    right: 0;
    left: auto;
    box-shadow: 0 10px 15px -3px rgba(46, 41, 51, 0.08),
        0 4px 6px -2px rgba(71, 63, 79, 0.16);
    font-size: 0.875rem;
    z-index: 200;
    min-width: 10rem;
    padding: 0.5rem 0;
    list-style: none;
    background-color: var(--color-black);
    border-radius: 0.5rem;
    display: none;
}
.dropdown.show {
    display: block;
}

.golden-global-button {
    color: var(--color-white);
    text-align: center;
    font-size: 1rem;
    width: 200px;
    height: 60px;
    border-radius: 12px;
    background-color: var(--color-golden);
    border: none;
    cursor: pointer;
    padding-top: 15px;
}

/* styles for Contact component*/

.contactPhone {
    display: flex;
    align-items: center;
    padding-bottom: 5px;
}
.contactPhoneItem p {
    padding-left: 10px;
}

.contactButtonItem {
    text-transform: uppercase;
    width: 180px;
    height: 30px;
    text-align: center;
    border: var(--color-white) solid;
    color: var(--color-golden);
    border-radius: 0.5rem;
    font-weight: 400;
}

/* Container for groups of buttons for desktop */

.btns-group {
    display: flex;
    align-items: center;
}

/* Styles for titles, subtitles and paragraph */

@media only screen and (max-width: 768px) {
    .color-title,
    .black-title,
    .white-title {
        font-size: var(--font-xl);
    }
    .color-subtitle,
    .black-subtitle,
    .white-subtitle {
        font-size: var(--font-lg);
    }
    .btns-group {
        flex-direction: column;
    }
}

.solid-black-line {
    border-top: 5px solid var(--color-black);
}

.solid-white-line {
    border-top: 5px solid var(--color-white);
}

.solid-color-line {
    border-top: 5px solid var(--color-golden);
}

/* All Tailwind Classes */

/* Typography Classes */

.cstm-title-size {
    @apply text-xl md:text-2xl;
}

.cstm-subtitle-size {
    @apply text-base md:text-lg;
}
.cstm-text-size {
    @apply text-xs md:text-base;
}

.cstm-black-title {
    @apply tracking-wider py-2 cstm-title-size text-crlblack;
}

.cstm-black-subtitle {
    @apply tracking-wider py-1 cstm-subtitle-size text-crlblack;
}

.cstm-black-text {
    @apply tracking-wider py-1 cstm-text-size text-crlblack;
}

.cstm-white-title {
    @apply tracking-wider py-1 cstm-title-size text-clrwhite;
}

.cstm-white-subtitle {
    @apply tracking-wider py-1 cstm-subtitle-size text-clrwhite;
}

.cstm-white-text {
    @apply tracking-wider py-1 cstm-text-size text-clrwhite;
}

.cstm-menu-text {
    @apply tracking-wider text-xs md:text-lg text-center   md:p-1 border-spacing-2;
}

.cstm-white-menu-text {
    @apply border-white  text-clrwhite cstm-menu-text;
}

.cstm-black-menu-text {
    @apply tracking-wider border-black text-black cstm-menu-text;
}

.cstm-golden-title {
    @apply tracking-wider cstm-title-size text-clrgolden;
}

.cstm-golden-subtitle {
    @apply tracking-wider cstm-title-size text-clrgolden;
}

.cstm-golden-text {
    @apply tracking-wider cstm-title-size text-clrgolden;
}

.cstm-gray-title {
    @apply tracking-wider py-2 cstm-title-size text-clrgray-dark;
}

.cstm-gray-subtitle {
    @apply tracking-wider py-2 cstm-subtitle-size text-clrgray-dark;
}

.cstm-gray-text {
    @apply tracking-wider py-2 cstm-text-size text-clrgray-dark;
}

.cstm-black-paragraph-spacing {
    @apply tracking-widest cstm-white-text pre-wrap-text indent-8;
}

.cstm-italic-text-height-line {
    @apply tracking-wider leading-[30px] md:text-base text-xs font-normal italic;
}

.cstm-title-height-line {
    @apply tracking-wider leading-[30px] md:text-lg text-base font-normal;
}

.cstm-regular-text-height-line {
    @apply tracking-wider leading-7 md:text-base text-xs font-normal;
}

.cstm-title-height-line {
    @apply tracking-widest leading-8 md:text-xl text-lg font-bold text-left;
}
.cstm-reg-para-height-line {
    @apply tracking-wider md:leading-6 leading-6 md:text-lg text-base font-bold text-left mt-3;
}

.cstm-cards-title-height-line {
    @apply tracking-wider leading-8 md:text-3xl text-2xl font-bold;
}

.cstm-cards-subtitle-height-line {
    @apply tracking-wider leading-8 md:text-xl text-lg font-bold;
}

.cstm-cards-reg-height-line {
    @apply tracking-wider leading-8 md:text-lg text-base font-bold;
}

.cstm-success-message-text {
    @apply cstm-text-size  text-clrgrey py-2;
}

.cstm-error-message-text {
    @apply cstm-text-size text-[#EA4C41] py-2;
}

.cstm-input {
    @apply text-sm text-clrblack font-light bg-transparent border-b py-2 pl-2 focus:outline-none focus:rounded-md focus:ring-1 ring-[#B59410];
}

.cstm-error-message {
    @apply cstm-text-size text-[#EA4C41] pt-1;
}

.cstm-asterisk {
    @apply cstm-text-size text-[#EA4C41] pl-2;
}
/* Transitions and Animations Classes  Section*/

.cstm-transition {
    @apply transition-all duration-300 ease-in-out;
}

.cstm-transition-all-200 {
    @apply transition-all duration-200 ease-in-out;
}

/* Borders Classes Section*/

.cstm-trenchers-solid-border-1 {
    @apply border-2 rounded-lg border-solid border-[#B59410];
}
.cstm-trenchers-solid-border-2 {
    @apply border-2 rounded-lg border-solid border-[#B59410];
}

/*General Forms Classes */

.cstm-contact-form {
    @apply rounded-lg flex flex-col px-8 py-8 bg-white m-1;
}

/* borders and buttons*/

.cstm-border-2-golden {
    @apply border-2 border-solid border-clrgolden;
}

.cstm-menu-btn {
    @apply flex bg-transparent border-none cursor-pointer;
}
.cstm-menu-link {
    @apply mt-5 mr-5 text-left;
}

.cstm-menu-hidden {
    @apply hidden;
}

.cstm-menu-display {
    @apply flex flex-col justify-center md:flex-row md:justify-between;
}

.image-text-card-wrapper-right {
    @apply flex md:flex-row-reverse flex-col-reverse;
}

.image-text-card-wrapper-left {
    @apply flex md:flex-row flex-col;
}

/* Icons for Social Media */

.fas-phone-icon {
    @apply md:text-lg text-base pt-2 pl-2 text-clrgolden;
}

.fa-icon-text {
    @apply text-clrgolden  md:text-3xl text-2xl;
}

.fas-bars-icon {
    @apply fa-icon-text;
}

.fab-facebook-icon {
    @apply p-0 m-2.5  bg-crlblack rounded-full fa-icon-text;
}

.fab-instagram-icon {
    @apply p-[3px] m-[5px] bg-crlblack rounded-md fa-icon-text;
}

.fab-yelp-icon {
    @apply p-2.5 fa-icon-text;
}

/* Animations */

.animation-traslateX {
    animation: moveInBottom 0.5s ease-out;
    animation-fill-mode: backwards;
}

@keyframes moveInBottom {
    0% {
        opacity: 0;
        transform: translatex(-30px);
    }

    100% {
        opacity: 1;
        transform: translatex(0px);
    }
}

.animation-translateY {
    animation: moveInBottom 0.5s ease-out;
    animation-fill-mode: backwards;
}
@keyframes moveInBottom {
    0% {
        opacity: 0;
        transform: translateY(-30px);
    }

    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}

/* buttons */
.btn {
    @apply rounded-2xl w-[200px] h-[60px] mt-[15px] mr-[15px] flex text-center items-center justify-center;
}

.btn:link,
.btn:visited {
    @apply uppercase inline-block rounded-lg ease-in duration-200;
}

.btn:hover {
    @apply translate-y-[-3px] shadow-lg shadow-gray-500;
}

.btn:active {
    @apply translate-y-[-1px] shadow-lg  shadow-gray-500;
}

.btn-golden {
    @apply bg-clrgolden;
}

.btn-golden::after {
    @apply bg-clrgolden;
}

.btn:hover::after {
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0;
}

.btn-animated {
    animation: moveInBottom 0.5s ease-out;
    animation-fill-mode: backwards;
}

@keyframes moveInBottom {
    0% {
        opacity: 0;
        transform: translateY(30px);
    }

    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}

/* container for groups of buttons for desktop and mobile */

.btns-group {
    @apply flex md:flex-row flex-col items-center;
}
